<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
获取字符串对象
<span th:text="${msg}">王大大</span>
<span th:text="|你好,${msg}|"></span>
<hr>
获取自定义对象<br><br>
<span th:text="${teacher.id}"></span><br>
<span th:text="${teacher.name}"></span><br>
<span th:text="${teacher.age}"></span>
<hr>
获取集合<br>
<table>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>age</th>
        <th>操作</th>
    </tr>
    <tr th:each="teacher:${list}">
        <td th:text="${teacher.id}"></td>
        <td th:text="${teacher.name}"></td>
        <td th:text="${teacher.age>19?'太老了':'还不错'}"></td>
        <th th:unless="${teacher.age>19}" th:text="${teacher.age+'年龄太小'}">1</th>
    </tr>
</table>
</body>
</html>